.feynman__link {
  text-decoration: none;
  font-size: 36px;
  line-height: 51px;
  color: #2f80ed;
  position: absolute;
  top: 50%;
  right: 48px;
  opacity: 1;
}

.feynman__link:hover {
  opacity: 0.6;
  transition: opacity 0.5s ease-in-out;
}
